{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="font-Ubuntu text-xl">
    {% for post in posts %}
    <a href="{% url 'posts:post_detail' pk=post.pk %}" class="flex items-center justify-center">
        <div class="m-4 p-4 bg-white border border-gray-300 rounded shadow-md">
            <div class="flex items-center">
                <img class="w-8 h-8 rounded-full" src="{{ user.profile_image.url }}"/>
                <p class="font-bold py-2 px-2">{{ post.user }}</p>

            </div>
            <img src="{{ post.image.url }}" class="w-150 h-150 mt-2">
            <div class="flex items-center justify-center space-x-4">
                <i class="fa-solid bg-red-700 fa-heart"></i> {{ post.get_like_count }}
                <i class="fa-solid fa-comment"></i>{{ post.comments.count }}
            </div>
            <p class="mt-2">{{ post.text }}</p>
            <p class="text-gray-500 text-sm mt-2">{{ post.created_date }}</p>
        </div>
    </a>
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}

</div>
{% endblock content %}
