{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen flex flex-col text-2xl font-Ubuntu  items-center justify-center ">
    <h1 class="text-2xl font-bold">+Add Post</h1>
    <div class="bg-custum-lite-green px-2 py-2 rounded shadow-md text-black max-w-lg  flex flex-col  items-center justify-center ">

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <span class="text-xl py-2 px-8">{{ field }}</span>
            {%endfor%}
            <button type="submit" class="bg-custom-bg hover:bg-custom-bg text-white font-bold py-2 px-4 rounded">
                +add post
            </button>
        </form>
    </div>
</div>

{% endblock content %}
