{% extends 'base.html' %}
{% block content %}
<div class=" min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Login</h1>

            <form method="POST" id="signup-form" class="signup-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="w-full text-center py-2 rounded  focus:outline-none my-1">
                    {{ field }}
                </div>
                {% endfor %}
                <button style="background: #115e59;"
                        type="submit"  value="sign-in"
                        class="w-full text-center py-3 rounded bg-green hover:bg-green-dark focus:outline-none my-1"
                >Login
                </button>
            </form>
            {% include 'accounts/messages.html' %}

            <p class="loginhere">
                Don't have an account ? <a href="{% url 'accounts:signup' %}" class="loginhere-link">Register here</a>
            </p>

        </div>
    </div>
</div>


{% endblock content %}