{% extends 'accounts/base.html' %}
{% block content %}


<div class=" min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h2 class="form-title">Password reset complete</h2>
            <p>Your password has been set. You may go ahead and log in now.</p>

            <p class="loginhere">
                <a href="{% url 'accounts:login' %}" class="loginhere-link">Login here</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}