{% extends 'accounts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class=" min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <form method="POST" id="signup-form" class="signup-form">
                {% csrf_token %}
                <h2 class="form-title">Enter new password</h2>
                <div class="mb-3">
                    {{ form|crispy }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                </div>
            </form>

            {% include 'accounts/messages.html' %}

        </div>
    </div>
</div>

{% endblock content %}