<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
    <link href="/static/src/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

</head>
<body class="bg-custum-lite-green">

{% load i18n %}

 {% if user.is_authenticated %}

<nav class="fixed bg-custom-bg top-0 left-0 w-full bg-white shadow-md p-2">
    <div class="container flex mx-auto items-center justify-between">
        <a href="{% url 'posts:post_list' %}">{{ user.email }}</a>
        <ul class="flex space-x-4 absolute right-0">
            <li><a href="{% url 'posts:post_create' %}"><i class="fa-solid fa-plus"></i></a></li>
            <li><a href="{% url 'main:user-list' %}"><i class="fa-solid fa-search"></i></a></li>
            <li><a href="{% url 'main:friend-request-list' %}"><i class="fa-solid fa-user-group"></i></a></li>
            <li>
                <div class="relative">
                    <button type="button" class="flex items-center focus:outline-none">
                        <img width="64" height="64" class="w-8 h-8 rounded-full" src="media/default.jpg" />
                        <i class="fas fa-caret-down ml-2"></i>
                    </button>
                    <div class="absolute right-0 mt-2 py-2 w-48 bg-white rounded shadow-lg hidden">
                        <a href="{% url 'main:user-detail' pk=user.pk %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">User Detail</a>
                        <a href="{% url 'main:user-update' pk=user.pk %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">User Update</a>
                        <a href="{% url 'accounts:logout' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

 {% endif %}
    <div class="container mx-auto mt-16">
        {% block content %}
        {% endblock content %}
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.querySelector(".relative button");
        const dropdownMenu = document.querySelector(".relative .absolute");

        dropdownButton.addEventListener("click", function () {
            dropdownMenu.classList.toggle("hidden");
        });
    });
</script>
</body>
</html>
